body{
    margin: 0;
    margin-left: 100px;
    margin-right: 100px;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
}



#header{
    height: 100px;
    background-color: rgb(75, 130, 234);
    background-image: url(./img/pattern.png);
     background-size:25%;
     

}
.text-small{
    font-size: 12px;
    margin: 0px 0;
    }
    

     
.main{
    margin-left: 100px;
    font-size: 25px;
}
    
    


#logo{
    height: 40px;
   margin: 20px 0;
}
 
     
h1{
    font-size: 45px;
   margin: 20px 0;
    
}
address {
    font-style: normal;
   margin:  0;
}
.article-figure{
    margin: 20px 0;
}
ul{
    text-align: left;
   padding-inline-start: 0;
   list-style-position: inside;
}
th{
    text-align: left;
    background-color: rgb(78, 185, 252);
    color: white;

}
.w-50{
    width: 50%;
}
    



    tr{
        background-color: rgb(48, 193, 212);
    }
table{
    border-collapse: collapse;
}
.background-white{
    background-color: white;
}
